body {
    padding: 1rem 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header,
main,
footer {
    width: 100%;
    max-width: 700px;
    padding: 1rem;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

header h1 {
    width: fit-content;
}

main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
}

.rule-item {
    display: flex;
    gap: 1rem;
}

.rule-item p:first-of-type {
    min-width: 60px;
}

